header {
    background-color: rgb(49, 45, 118);
}

nav a {
    background-image: linear-gradient(0deg, rgb(198, 21, 151) 0%, rgb(49, 45, 118) 50%, rgb(198, 21, 151) 100%);
}

nav a:hover {
    background-image: linear-gradient(0deg, rgb(49, 45, 118) 0%, rgb(198, 21, 151) 25%, rgb(198, 21, 151) 75%, rgb(49, 45, 118) 100%);
}

#mobile {
    background-color: rgb(59, 55, 144);
}

section {
    padding-top: 1rem;
}

#slide-panel {
    width: 60%;
    max-width: 40rem;
    min-width: 18rem;
    margin: 0 auto 0 auto;
    background-image: linear-gradient(0deg, rgb(49, 45, 118) 0%, #DF15AA 50%, rgb(49, 45, 118) 100%);
    border-bottom: 2px solid rgb(49, 45, 118);
    color: rgb(235, 235, 235);
}

#slide {
    padding: 0.5rem;
    display:none;
}

#btn-slide-panel {
    display:inline-block;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(243, 243, 243);
    background-image: linear-gradient(0deg, rgb(49, 45, 118) 0%, rgb(198, 21, 151) 50%, rgb(49, 45, 118) 100%);
    border-radius: 4px;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

#btn-slide-panel:hover {
    background-color: rgb(117, 117, 117);
    background-image: linear-gradient(0deg, rgb(198, 21, 151) 0%, rgb(49, 45, 118) 50%, rgb(198, 21, 151) 100%);
    
}

#icon {
    display: inline-block;
    width: 1rem;
    margin-left:0.5rem;
    color: rgb(235, 235, 235);
}

.rotate {
    rotate:180deg;
}

footer {
    background-color: rgb(49, 45, 118);
}